* {
    box-sizing: border-box;
  }
  
  :root {
    --purple: #7f3ada;
    --pink: #e12af1;
    --grey: #979397;
  }
  
  body {
    background: #ededed;
    color: var(--grey);
    margin: 25px;
    padding: 5px;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.5vw;
      color:black;
  }

  nav button{
      color: var(--purple);
      border: none;
      font-size: 1.5vw;
  }

  main{
      
      justify-content: center;
      color: black;
  }

  #title{
      margin-top: 50px;
      display: flex;
      padding-left:20%;
      padding-right:20%;
      justify-content: center;
  }
  
 main div .main-question{
      margin-top: 50px;
      display:flex;
      padding-left:20%;
      padding-right:20%;
      justify-content:center;
  }

  main .main-answers{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    padding-left:20%;
    padding-right:20%;
    justify-content:center;
    align-content: flex-start;

  }